{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% if msg != '' %}
                <p>{{ msg }}</p>
            {% endif %}
            {% for book in book_list %}
            <div class="book col-md-4">
                <a href="{% url 'books_by_date' get_date=book.pub_date%}"><h2>{{ book.name }}</h2></a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
        {% if get_date %}
        <div class="row">
            <div class="book col-md-2">
                    {% if previous_date %}
                        <a href="{% url 'books_by_date' get_date=previous_date %}">< {{ previous_date|date:"Y-m-d" }}</a>
                    {% endif %}
            </div>
            <div class="book col-md-2">
                    {% if next_date %}
                        <a href="{% url 'books_by_date' get_date=next_date %}">{{ next_date|date:"Y-m-d" }} ></a>
                    {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}